div{
    background: red;
    padding: 10px;
    margin: 3px;
}
.new{
    background-color: aqua;
}
.mygithub{
    background-color: aqua;
    border-radius: 100px;
    margin: 20px;
    border: 10px solid #0084ff;
}